@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Poppins:ital,wght@0,100;0,200;1,100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Inter:wght@100;200;300;400;500;600&family=Poppins:ital,wght@0,100;0,200;1,100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
  
body {
  font-family: 'Roboto', sans-serif;
  line-height: 20px;
  background-color: #e5e5e5;
}

/* For Mobile */

@media screen and (max-width: 768px) {      
.header {
  background-color: #3C3A39;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  padding-top: 20px;
}
      
.logo a{
  color: white;
  margin-left: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  height: 12px; 
  margin-right: 20px;
}
      
.icon {
  border: 2px solid #fff;
  margin-bottom: 2px;
  width: 16px;
  border-radius: 1px;
}

.menu-icon-container {
  margin-right: 20px;
  width: 18px;
  color: white;
}

.headline-section {
  background-color: #1C1A19;
  height: 590px;
  display: flex;
  flex-direction: column;
  position: relative;
}


.headline-section-background {
  position: absolute;
  bottom: -130px;
  right: 0; 
  height: 500px;
}

.my-information {
  padding: 0 20px;
  color: white;
  margin: 10px 0;
  
}

.my-information h1{
  color: #FF6B00;
  font-family: 'Crete Round', serif;
  padding-top: 124px;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
}

.my-information h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.my-information p{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Poppins', sans-serif;
}

.social-media-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin-left: 10px;  
  width: 250px;
  height: 40px;
}

.my-works-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #fffefe;
}

.recent-works {
  margin: 100px 20px 10px 20px;
  grid-column: span 2;
}

.recent-works h1{
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px; 
  text-align: center;
  margin-bottom: 50px;
  padding: 30px;
  border-bottom: 1px solid #212121;
}

.recent-works img {
  width: 100%;
}

.recent-works h3 {
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091E42;
  text-align: start;
}

.recent-works p{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091E42;
  text-align: start;
  margin: 10px 0;
}

.btn {
  padding: 12px;
  background: #FF6B00;
  border: none;
  margin-top: 10px ;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
}

.btn:hover {
  background: #F55800;
  color: #F55800;
}

.btn:active {
  background: #E05304;
  color: #fff;
}

.btn:disabled {
  color: #5B5957;
  background: #F4F1F0;
}

.btn:enabled {
  background: #F55800;
  color: #fff;
}

.works-categories {
  display: flex;
  gap: 10px;
}

.works-categories li {
  padding: 10px 12px;
  border: 1px solid #8993A4;
}

.first-project {
  background-image: url(images/card-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
  margin: 40px 20px;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr 1fr;
  row-gap: 10px;
}

.first-project h1 {
  font-family: 'Crete Round', serif;
  padding: 0 20px;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  align-self: flex-end;  
}

.first-project p {
  font-family: 'Inter',sans-serif;
  padding: 0 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.first-project ul {
  display: flex;
  gap: 10px;
  padding-left: 20px;
  align-self: center;
  justify-content: flex-start;
}

.first-project li {
  background:  rgba(255, 255, 255, 0.24);
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  padding: 10px;
}

.first-project a {
  align-self: flex-end;
  width: 100%;
  background: #FF6B00;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 20px;
  }

.about {
  margin-top: 100px;
  background: #1C1A19;
  position: relative;
}

.about h1 {
  padding-top: 100px;
  color: #F55800;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  margin: 10px 20px;
}


.about p {
  margin: 10px 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #F4F5F7;
}

.about button {
  margin-left: 20px;
}


.about a {
  color: #fff;
}

.about-me-img {
  background-image: url(images/illustration-about-me-mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right -50px;
  height: 258px;
}

.img-bottom-border {
  border: 1px solid rgb(99, 98, 98);
  margin:-40px 20px 0 20px;
}

.skillset {
  padding-top: 150px;
  color: white;
  background: #1C1A19;
}

.alignment {
  display: flex; 
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.alignment h1 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.skillset ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skillset ul li {
  margin: 15px 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

.contact-me {
  background: #fff;
  padding: 120px 10px 20px 10px;
}

.contact-me h1 {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172B4D;
}

.contact-me form {
  max-width: 400px;
  padding-top: 40px;
}

.contact-me form ul {
margin: 10px 10px;
}

.contact-me li input {
  width: 100%;
  padding: 20px 20px 10px 20px;
  margin-right:15px;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  border-bottom: 1px solid #DBD8D7;;
}

.contact-me textarea {
  width: 100%;
  padding: 10px 0 60px 20px;
  margin-top: 20px;
  border: none;
  background-color: #FBF8F7;;
  resize: none;
  outline: none;
}

.button-list {
  display: flex;
  justify-content: center;
}


.footer {
  background-color: #fff;
  border-top: 1px solid#DFE1E6;
}

.footer-links {
  display: flex;
  justify-content: center;
}

.footer-links ul li {
  padding: 10px;
}

.button-get-in-touch {
  display: flex;
  justify-content: center;
}
}

